<launch>
  <arg name="node_start_delay" default="3.0" />
  <arg name="fcu_url" default="/dev/ttyACM2" />
  <include file="/opt/ros/noetic/share/mavros/launch/apm.launch" pass_all_args="true" />
  <include file="$(find wolf_control)/launch/wolf_control.launch" pass_all_args="true"/>
  <node name="pixhawk" pkg="wolf_serial" type="pixhawk.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node name="meb" pkg="wolf_serial" type="meb.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node name="killswitch" pkg="wolf_serial" type="killswitch.py"/>
  <node name="camera_forwarder" pkg="wolf_vision" type="camera_forwarder.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node name="gate_detector" pkg="wolf_vision" type="yolo_gate.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
  <node name="mission" pkg="wolf_control" type="mission_yolo.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
</launch>
