<launch>
    <!-- path to video file as args-->
    <node name="forward" pkg="wolf_vision" type="video_forwarder.py" args="/home/xing/TesterCodes/OpenCV/PathProject/Data/manual_path_edited.mp4"/>
    <node name="detector" pkg="wolf_vision" type="path_direction_pca.py" launch-prefix="bash -c 'sleep 5; $0 $@' "/>
</launch>
